# Xcode build
build/
DerivedData/
*.xcuserstate
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Swift Package Manager
.build/
.swiftpm/

# Keep shared project/scheme data
!xcshareddata/
