<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>bn</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BanglaType</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025. Open source — Bangladesh 🇧🇩</string>
	<key>TISIntendedLanguage</key>
	<string>bn</string>
	<key>InputMethodConnectionName</key>
	<string>com.banglatype.inputmethod.BanglaType_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>banglatype.BanglaInputController</string>
	<key>tsInputMethodIconName</key>
	<string>BanglaTypeIcon</string>
	<key>tsInputMethodCharacterSubset</key>
	<array>
		<string>Bengali</string>
	</array>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.banglatype.inputmethod.BanglaType.AvroPhonetic</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.banglatype.inputmethod.BanglaType.AvroPhonetic</string>
				<key>TISIntendedLanguage</key>
				<string>bn</string>
				<key>tsInputModeMenuIconFileKey</key>
				<string>BanglaTypeInputMethod.icns</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>BanglaTypeInputMethod.icns</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
			</dict>
			<key>com.banglatype.inputmethod.BanglaType.Probhat</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.banglatype.inputmethod.BanglaType.Probhat</string>
				<key>TISIntendedLanguage</key>
				<string>bn</string>
				<key>tsInputModeMenuIconFileKey</key>
				<string>BanglaTypeInputMethod.icns</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>BanglaTypeInputMethod.icns</string>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
			</dict>
			<key>com.banglatype.inputmethod.BanglaType.MunirOptima</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.banglatype.inputmethod.BanglaType.MunirOptima</string>
				<key>TISIntendedLanguage</key>
				<string>bn</string>
				<key>tsInputModeMenuIconFileKey</key>
				<string>BanglaTypeInputMethod.icns</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>BanglaTypeInputMethod.icns</string>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
			</dict>
			<key>com.banglatype.inputmethod.BanglaType.AvroEasy</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.banglatype.inputmethod.BanglaType.AvroEasy</string>
				<key>TISIntendedLanguage</key>
				<string>bn</string>
				<key>tsInputModeMenuIconFileKey</key>
				<string>BanglaTypeInputMethod.icns</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>BanglaTypeInputMethod.icns</string>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
			</dict>
			<key>com.banglatype.inputmethod.BanglaType.Bornona</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.banglatype.inputmethod.BanglaType.Bornona</string>
				<key>TISIntendedLanguage</key>
				<string>bn</string>
				<key>tsInputModeMenuIconFileKey</key>
				<string>BanglaTypeInputMethod.icns</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>BanglaTypeInputMethod.icns</string>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
			</dict>
			<key>com.banglatype.inputmethod.BanglaType.NationalJatiya</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.banglatype.inputmethod.BanglaType.NationalJatiya</string>
				<key>TISIntendedLanguage</key>
				<string>bn</string>
				<key>tsInputModeMenuIconFileKey</key>
				<string>BanglaTypeInputMethod.icns</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>BanglaTypeInputMethod.icns</string>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
			</dict>
			<key>com.banglatype.inputmethod.BanglaType.Akkhor</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.banglatype.inputmethod.BanglaType.Akkhor</string>
				<key>TISIntendedLanguage</key>
				<string>bn</string>
				<key>tsInputModeMenuIconFileKey</key>
				<string>BanglaTypeInputMethod.icns</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>BanglaTypeInputMethod.icns</string>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.banglatype.inputmethod.BanglaType.AvroPhonetic</string>
			<string>com.banglatype.inputmethod.BanglaType.Probhat</string>
			<string>com.banglatype.inputmethod.BanglaType.MunirOptima</string>
			<string>com.banglatype.inputmethod.BanglaType.AvroEasy</string>
			<string>com.banglatype.inputmethod.BanglaType.Bornona</string>
			<string>com.banglatype.inputmethod.BanglaType.NationalJatiya</string>
			<string>com.banglatype.inputmethod.BanglaType.Akkhor</string>
		</array>
	</dict>
</dict>
</plist>
